<!-- About-->
<section class="d-flex p-3" id="about">
    <div class="resume-section-content">
        <img src="https://via.placeholder.com/150?text=KZY" alt="..." class="img-thumbnail rounded-circle mx-auto d-block d-lg-none">
        <h1 class="mb-0">Kue Zon Yang</h1>
        <div class="d-flex justify-content-between subheading py-3">
            <h5>
                <a href="mailto:kueyang12@gmail.com">kueyang12@gmail.com</a> · (330) 506-3597
            </h5>
            <div class="">
                <a class="social-icon" href="#!">
                    <fa-icon [icon]="faLinkedinin" [size]="'2x'"></fa-icon>
                </a>
                <a class="social-icon" href="#!">
                    <fa-icon [icon]="faGithub" [size]="'2x'"></fa-icon>
                </a>
            </div>
        </div>
        <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
</section>