<section class="py-4" id="education">
    <div class="resume-section-content">
        <h2 class="mb-3">Education</h2>
        <div class="d-flex flex-column flex-sm-row justify-content-between mb-3">
            <div class="flex-grow-1">
                <h4>Computer Engineering B.S, University of Akron</h4>
                <div class="ps-4">
                    <div>Minor: Applied Mathematics</div>
                    <div>GPA: 3.9</div>
                </div>
            </div>
            <div class="flex-shrink-0">
                <h5>May 2012 - May 2017</h5>
            </div>
        </div>
        <div class="d-flex flex-column flex-sm-row justify-content-between mb-3">
            <div class="flex-grow-1">
                <h4>Associates of Arts, University of Akron</h4>
                <div class="ps-4">
                    <div>Akron Early College High School</div>
                    <div>GPA: 4.0</div>
                </div>
            </div>
            <div class="flex-shrink-0">
                <h5>Aug. 2008 - May 2012</h5>
            </div>
        </div>
    </div>
</section>